.blog-post-container {

    .blog-post-content {

        h2 {
            font-family: 'Lora', sans-serif;
            text-transform: capitalize;
            font-size: 1.5rem;
            font-weight: normal;
            color: #143774        
        }
    }
}