article {
    margin-bottom: 3rem;
}

.main-post {
    display: flex;
    flex-direction: column;
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;

}

.recent-post {
  display: flex;
  flex-direction: column;
}

.posts {
  flex: 3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.read-more {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #1792D2;
}

.date-comments {
  font-size: .875rem
}

@media (min-width: 650px) {
  .recent-post {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .content {
        width: 68%;
      }

      .image-meta {
        width: 30%;
      }
    }
  
}
