body {
  color: #707070;
  font-size: 18px;

  p {
    line-height: 1.5em;
  }

  .main-post {

    .read-more {
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: bold;
      color: #1792D2;
    }
    
    .date-comments {
      font-size: .875rem
    }
  }

  h1 {
    font-family: 'Lora', sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: normal;
    color: #143774
  }
}

